# Endangered Animals and Invasive Animals

- Name:  Vadde Pavan Kumar 
- Project : E24
- Work Type: Wrangling the Data Sets
- Type Of Datasets: Open Datasets/API
- Version: Python 3.0
- Date: 12-Apr-2020

#### Data Exploration for Project Forest Friends

#### Package Installations

In [ ]:
#!/usr/bin/env python
# make sure to install these packages before running:
# pip install pandas
# pip install sodapy
#pip insatll numpy
#pip insatll geopandas 
#pip install googlemaps

# Importing the packages

In [2]:
import pandas as pd 
import numpy as np
import pandas as pd
import geopandas as gpd
import requests
from bs4 import BeautifulSoup
#from sodapy import Socrata
import requests
import pandas as pd
import csv
#import wikipedia
import urllib.request
import random
import string
import numpy as np
import googlemaps
from datetime import datetime
import geopandas as gpd
from shapely.geometry import shape, mapping, Polygon, MultiPolygon, Point

- Loading the data, the data is about the endangered species, the data is collected from the data.gov.au 
- As the data is collected from the open data sets. And the link is provided to from where the data has extracted

https://data.gov.au/dataset/ds-dga-ae652011-f39e-4c6c-91b8-1dc2d2dfee8f/details

### Data Properties:

- The data is about the Endangered species in the australia and is also given that which is provided across the states of
  of the australia
- Data which is provided is the rela time data and also is provided with the API.
- The data set is comprised of animal information like Scientific Name and common name and also refrence link to the animal   species open data base.

#### Loading the data

In [ ]:
govt_data = pd.read_csv("20200404spcs.csv")

In [ ]:
govt_data.head()

In [ ]:

govt_data.columns

As the data is provided with the rich information of endangered species.
    - Animalia 
    - Plante 
As we are dealing with the animal information we are jsut extracting the infromation with the regards to the animals

In [ ]:
govt_data = govt_data[govt_data['Kingdom'] == "Animalia"]

In [ ]:
govt_data.reset_index(drop=True, inplace=True)

In [ ]:
govt_data.shape

In [ ]:
govt_data.head()

##### created the new dataframe and with the state columns 
- removing the all the different columns and making one column, with all the states included in that.

In [ ]:
cols = ['ACT','NSW','NT','QLD','SA','TAS','VIC','WA']

In [ ]:
df = govt_data[['ACT','NSW','NT','QLD','SA','TAS','VIC','WA']]

In [ ]:
s = np.where(df == "Yes", ['{}'.format(x) for x in df.columns], '')
regions = pd.Series([''.join(x).strip(',') for x in s], index=df.index)
regions = s.tolist()

for j in regions:
    while '' in j:
        j.remove('')

In [ ]:
govt_data['states'] = regions

In [ ]:
govt_data.head()

### Data for australian capital teritory 

- Working on the animal species data for the australian capital teritory
- Where the data is collected from data.act.gov.au and the data is extracted using the API
- Dataset has the information about all the endangered animals and also provied with the map information where actually the animal resides 

Source: www.data.act.gov.au/e9ux-7djy

In [ ]:

# Unauthenticated client only works with public data sets. Note 'None'
# in place of application token, and no username or password:
client = Socrata("www.data.act.gov.au", None)

# Example authenticated client (needed for non-public datasets):
# client = Socrata(www.data.act.gov.au,
#                  MyAppToken,
#                  userame="user@example.com",
#                  password="AFakePassword")

# First 2000 results, returned as JSON from API / converted to Python list of
# dictionaries by sodapy.
results = client.get("e9ux-7djy", limit=50000)

# Convert to pandas DataFrame
results_df = pd.DataFrame.from_records(results)

In [ ]:
results_df.columns

- Extracting only the necessary columns from the dataset
  - common name 
  - Scientific name 
  - postions

In [ ]:
results_df = results_df[['commonname', 'scientificname','location_1']]

###### Storing the information into the new file

In [ ]:
results_df.to_csv('ACT_animals.csv')

In [ ]:
results_df

### Working on the data for melbourne

Data is extarcted from the API which is pen source and data is provided for the animals across the melbourne.

Source : data.melbourne.vic.gov.au/a945-pqqr

In [ ]:

# Unauthenticated client only works with public data sets. Note 'None'
# in place of application token, and no username or password:
client = Socrata("data.melbourne.vic.gov.au", None)

# Example authenticated client (needed for non-public datasets):
# client = Socrata(data.melbourne.vic.gov.au,
#                  MyAppToken,
#                  userame="user@example.com",
#                  password="AFakePassword")

# First 2000 results, returned as JSON from API / converted to Python list of
# dictionaries by sodapy.
results = client.get("a945-pqqr", limit=50000)

# Convert to pandas DataFrame
mel_df = pd.DataFrame.from_records(results)

##### Selecting only the animala Kingdom data

In [ ]:
mel_df = mel_df[mel_df['state_parsed'] == "ANIMALIA"]

In [ ]:
mel_df.reset_index(drop=True, inplace=True)

In [ ]:
mel_df = mel_df[['ibra_region_parsed','collector','basis_of_record_processed','taxon_identification_issue','latitude_processed','longitude_processed']]

###### Data is stored into the CSV files

In [ ]:
mel_df.to_csv('vic_animals.csv')

In [ ]:
mel_df

In [ ]:
mel_df = mel_df.rename(columns={'ibra_region_parsed': 'animal_type', 'basis_of_record_processed': 'scientific_name','taxon_identification_issue' : 'common_name', 'latitude_processed':'latitude','longitude_processed' : 'longitude'})

In [ ]:
mel_df.head()

### Extracting the data

## Main Code

##### Function for extracting the content from the HTML Page  - Called function

In [ ]:
def service(l1,text):
    l1 = l1
    habitat = []
    for i in range(len(l1)):
        count = 1
        if l1[i].strip() == text:
            while count <= 2:
                if l1[i].strip() == "Top":
                    count = count + 1
                habitat.append(l1[i].strip())
                i = i + 1
    while '' in habitat:
        habitat.remove('')
    habitat = habitat[2:-2]
    return(habitat)

### Main Function  - Called and Calling Function

In [ ]:
def extract(url):
    url = url
    res = requests.get(url)
    html_page = res.content
    soup = BeautifulSoup(html_page, 'html.parser')
    text = soup.find_all(text=True)

    output = ''
    data = []
    blacklist = [
    '[document]',
    'noscript',
    'header',
    'html',
    'meta',
    'head', 
    'input',
    'script',
    # there may be more elements you don't want, such as "style", etc.
    ]

    for t in text:
        if t.parent.name not in blacklist:
            output += '{} '.format(t)

    l1 = output.strip().split('\n')
    services = ["Habitat","Feeding","Threats","Illustrations","Descriptions"]
    for ser in services:
        data.append(service(l1,ser))
   
    return(data)

##### creating the new columns in the dataframe

In [ ]:
govt_data['habitat'] = ""
govt_data['feeding'] = ""
govt_data['threat'] = ""
govt_data['image'] = ""
govt_data['Description'] = ""

In [ ]:
## example
#extract("http://www.environment.gov.au/cgi-bin/sprat/public/publicspecies.pl?taxon_id=26")

#### Main Function Call -- Calling function

In [ ]:
profiles = govt_data["Profile"]
for i in range(len(profiles)):
    profile = extract(profiles[i])
    govt_data['habitat'][i] = profile[0]
    govt_data['feeding'][i] = profile[1]
    govt_data['threat'][i] = profile[2]
    govt_data['image'][i] = [x for x in list(set(profile[3])) if x.startswith('Google')]
    govt_data['Description'][i] = profile[4][0] if len(desc) > 0 else profile[4]

In [ ]:
govt_data.head()

In [ ]:
govt_data.columns

In [ ]:
#cols = ['Scientific Name', 'Common Name','Threatened status','Listed SPRAT TaxonID','Kingdom','Class','Profile',
 #      'Family','states','habitat', 'feeding', 'threat','image']

#### Picking up only the useful columns and writing to the csv file

In [ ]:
main_df = govt_data[['Scientific Name', 'Common Name','Threatened status','Listed SPRAT TaxonID','Kingdom','Class','Profile','Family','states','habitat', 'feeding', 'threat','image']]

In [ ]:
main_df.head()

In [ ]:
main_df.to_csv('endangered_animals.csv')

### Threatened Fauna From EPBC  Dataset

In [81]:
fauna = pd.read_csv("Threatened_Fauna_EPBC_2018.csv")

C:\Users\V.PAVAN\Anaconda3\envs\rstudio\lib\site-packages\IPython\core\interactiveshell.py:3044: DtypeWarning: Columns (26,27,42) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [82]:
fauna.columns

Index(['Record ID', 'Catalogue Number', 'Taxon Concept GUID',
       'Scientific Name - original', 'Vernacular name - original',
       'Scientific Name', 'Taxon Rank', 'Vernacular name', 'Kingdom', 'Phylum',
       'Class', 'Order', 'Family', 'Genus', 'Species', 'Subspecies',
       'Data Resource ID', 'Data Resource Name', 'Institution ID',
       'Institution', 'Collection ID', 'Collection', 'Licence',
       'Institution Code', 'Collection Code', 'Locality',
       'Latitude - original', 'Longitude - original',
       'Geodetic datum - original', 'Latitude', 'Longitude',
       'Coordinate Precision', 'Coordinate Uncertainty in Metres',
       'Country - parsed', 'State - parsed', 'Local Government Areas 2011',
       'IMCRA 4 Regions', 'IBRA 7 Regions', 'Minimum elevation in meters',
       'Maximum elevation in meters', 'Minimum depth in meters',
       'Maximum depth in meters', 'Individual count', 'Collector', 'Year',
       'Month', 'Day', 'Event Date - parsed', 'Verbatim event date',
       'Basis Of Record - original', 'Basis Of Record', 'Occurrence status',
       'Sex', 'Preparations', 'Outlier for layer', 'Taxonomic Quality',
       'Location Quality', 'Altitude value supplied in feet',
       'Occurrence status assumed to be present',
       'Basis of record badly formed', 'Coordinate precision not valid',
       'Supplied coordinates centre of state',
       'Coordinates are out of range for species',
       'Coordinates dont match supplied country',
       'Country inferred from coordinates', 'Data are generalised',
       'Coordinates converted from UTM',
       'Coordinates derived from verbatim coordinates',
       'Coordinates converted to WGS84', 'Depth value non-numeric',
       'First of the century', 'First of the month', 'First of the year',
       'Geodetic datum assumed WGS84', 'Georeferenced after occurrence date',
       'Habitat incorrect for species',
       'Identification date before occurrence date',
       'Incomplete collection date', 'Invalid collection date',
       'Coordinates are transposed', 'Latitude is negated',
       'Precision / range mismatch', 'Collector name unparseable',
       'Coordinates dont match supplied state',
       'Coordinate precision and uncertainty transposed',
       'Coordinate uncertainty not valid', 'Supplied country not recognised',
       'Kingdom not recognised', 'Collection code not recognised',
       'Institution code not recognised', 'unrecognised Occurrence Status',
       'Unrecognized geodetic datum', 'Supplied coordinates are zero',
       'Zero latitude', 'Zero longitude'],
      dtype='object')

In [83]:
fauna = fauna[fauna['Country - parsed'] == "Australia"]

In [ ]:
#cols = ['Scientific Name',  'Vernacular name','Class', 'Family', 'Latitude', 'Longitude','Country - parsed', 'State - parsed', 'Local Government Areas 2011','IMCRA 4 Regions', 'IBRA 7 Regions', 'Individual count']

In [84]:
fauna = fauna[['Scientific Name',  'Vernacular name','Class', 'Family', 'Latitude', 'Longitude','Country - parsed', 'State - parsed', 'Local Government Areas 2011','IMCRA 4 Regions', 'IBRA 7 Regions', 'Individual count']]

In [85]:
fauna[['IMCRA 4 Regions','IBRA 7 Regions']] = fauna[['IMCRA 4 Regions','IBRA 7 Regions']].fillna('')

In [86]:
fauna['Region'] = fauna['IMCRA 4 Regions'] + fauna['IBRA 7 Regions']

In [87]:
del fauna['IMCRA 4 Regions']
del fauna['IBRA 7 Regions']

In [89]:
fauna.shape

(361170, 11)

In [90]:
fauna = fauna.drop_duplicates(subset='Scientific Name', keep="last")

In [91]:
fauna.reset_index(drop=True, inplace=True)

## shape file dataset

In [111]:
new_df = pd.read_csv("endangered_animals.csv")

In [ ]:
shape_file = gpd.read_file("snes_public_grids_08Aug2019_shapefile/snes_species_combined.shp")

In [ ]:
shape_file.columns

In [ ]:
suburb = gpd.read_file("vic_locality_polygon_shp/VIC_LOCALITY_POLYGON_shp.shp")

In [ ]:
shape_file['lower_name'] = shape_file['sci_name'].str.lower()

### Merging for Endangered Species

In [ ]:
#Create lowercase for all the scientific names
new_df['lower_name'] = new_df['Scientific Name'].str.lower()

#Performing the inner join
locations = pd.merge(new_df[['lower_name','Common Name','Threatened status','Profile']],shape_file[['lower_name','listed_id','sci_name', 'threatened','tax_class', 'tax_phylum', 'regions', 'attributio', 'sprat_prof', 'geometry']],on='lower_name',how='inner')

In [ ]:
locations.to_csv("map_data.csv")

### Merging for the ACT Data

In [ ]:
results_df.head()

In [ ]:
results_df['lower_name'] = results_df['scientificname'].str.lower()

#Performing the inner join
act_locations = pd.merge(results_df[['lower_name','location_1']],shape_file[['lower_name','listed_id','sci_name', 'threatened','tax_class', 'tax_phylum', 'regions', 'attributio', 'sprat_prof', 'geometry']],on='lower_name',how='inner')

In [ ]:
act_locations.to_csv("act_locations.csv")

### Merging for Melbourne Data

In [ ]:
mel_df.head()

In [98]:
mel_df['lower_name'] = mel_df['scientific_name'].str.lower()

#Performing the inner join
mel_locations = pd.merge(mel_df[['lower_name','animal_type','latitude','longitude']],shape_file[['lower_name','listed_id','sci_name', 'threatened','tax_class', 'tax_phylum', 'regions', 'attributio', 'sprat_prof', 'geometry']],on='lower_name',how='inner')

### Merging for Fauna Data

In [99]:
fauna['lower_name'] = fauna['Scientific Name'].str.lower()

#Performing the inner join
fauna_locations = pd.merge(fauna[['lower_name','State - parsed','Class','Latitude','Longitude']],shape_file[['lower_name','listed_id','sci_name', 'threatened','tax_class', 'tax_phylum', 'regions', 'attributio', 'sprat_prof', 'geometry']],on='lower_name',how='inner')

In [101]:
fauna_locations.to_csv("fauna_locations.csv")

##### Ifrmae KMV Data

In [439]:
from IPython.display import HTML

In [440]:

HTML('<iframe src="https://www.google.com/maps/d/embed?mid=1_XeEGRPzee57Rn0wNssbgm5C6aVUOdSs" width="800" height="480"></iframe>')

C:\Users\V.PAVAN\Anaconda3\lib\site-packages\IPython\core\display.py:694: UserWarning: Consider using IPython.display.IFrame instead
  # long string and we're only interested in its beginning and end.

In [441]:
HTML('<iframe src="https://www.google.com/maps/d/embed?mid=1Lgbb-MCcvWO9rFy9aWizA6JdNoPlq4Hw" width="800" height="480"></iframe>')

### Working on the shape file

In [145]:
sci_names = list(shape_file['sci_name'].unique())

In [154]:
shape_file.columns

Index(['OBJECTID', 'Shape_Leng', 'Shape_Area', 'listed_id', 'map_id',
       'sci_name', 'comm_name', 'threatened', 'migratory', 'pres_rank',
       'category', 'extracted', 'tax_group', 'tax_family', 'tax_order',
       'tax_class', 'tax_phylum', 'tax_king', 'other_ids', 'cell_size',
       'regions', 'attributio', 'sprat_prof', 'geometry', 'lower_name'],
      dtype='object')

In [150]:
new_file = shape_file.drop_duplicates(subset=['sci_name'])

In [160]:
new_file = new_file[['listed_id','sci_name', 'comm_name', 'threatened','migratory','tax_group', 'tax_family','tax_order','tax_class','regions','sprat_prof', 'geometry']]

In [167]:
new_file.to_csv("species_shape.csv")

In [ ]:
species_file = new_file[new_file['tax_group'] != "flora"]

In [ ]:
species_file.reset_index(drop=True, inplace=True)

In [172]:
del species_file['Unnamed: 0']

In [ ]:
species_file['habitat'] = ""
species_file['feeding'] = ""
species_file['threat'] = ""
species_file['image'] = ""
species_file['Description'] = ""

In [ ]:
profiles = species_file["sprat_prof"]
for i in range(len(profiles)):
    profile = extract(profiles[i])
    species_file['habitat'][i] = profile[0]
    species_file['feeding'][i] = profile[1]
    species_file['threat'][i] = profile[2]
    species_file['image'][i] = [x for x in list(set(profile[3])) if x.startswith('Google')]
    species_file['Description'][i] = profile[4][0] if len(desc) > 0 else profile[4]

In [ ]:
species_file.to_csv("species_file.csv")

### Image Handling:

In [ ]:
def get_comm_images(name):
    except_list = []
    try:
        comm_page = wikipedia.page(name)
    except:
        print(name+' '+'created comm error')
        return except_list
    comm_images=[]
    for value in list(comm_page.images):
        if 'jpg' in value:
            comm_images.append(value)
        else:
            continue
    return comm_images
    
def comm_split(com):
    
    if ',' in com:
        com_names = com.split(',')
        # count = len(com_names)
        mid_images = []
        for midimg in com_names:
            check_mid = get_comm_images(midimg)
            if len(check_mid) > 0:
                return check_mid
            else:
                continue
        return mid_images
    else:
        return(get_comm_images(com))


def get_images(x):
    sci_name = x['Scientific_Name']
    comm_name = x['Common_Name']
    exception_list = []
    sci_exflag = 0
    sci_images_return = []
    try:
        wiki_page_sci = wikipedia.page(sci_name) #Get the page for the sci_name
        sci_images_list = list(wiki_page_sci.images)
        for value in sci_images_list:
            
            if 'jpg' in value:
                sci_images_return.append(value)
            else:
                continue

    except:
        sci_exflag = 1
        print(sci_name+' '+'Created an sci_exception')


    if sci_exflag==1 or len(sci_images_return)==0:
        common_images_return = comm_split(comm_name)
        return common_images_return
    
    if sci_exflag==0:
        return sci_images_return
    else:
        return exception_list

if __name__ == "__main__":
    fname = input('Enter filename...')
    data = pd.read_csv(fname)
    data['images'] = data.apply(lambda x: get_images(x),axis=1)
    data.to_csv('images_split_edit_animals.csv',index=False)
    print('image search done!!=:)')

In [ ]:
data = pd.read_csv('C:/Users/V.PAVAN/Desktop/FIT120 IE/project/work/images_split_edit_animals.csv')
data = data[data['images'] == "[]"] 

for index,row in data.iterrows():
    print('Sci_name: '+data['Scientific_Name'][index]+'\n')
    print('comm_name: '+data['Common_Name'][index]+'\n')
    word = 'enter'
    images_url = []
    while word != 'exit':
        word = input('Enter the url:')
        images_url.append(word)
    data['images'][index] = images_url
data.to_csv('hand_images.csv',index=False)
print('Done with the images:=)')

In [ ]:
hand_images = pd.read_csv('hand_images.csv')

def correct_images(x):
    images_list = x.split(',')
    return_images = []
    for value in images_list:
        match = re.search("(?P<url>https?://[^\s]+)", value)
        if match:
            return_images.append(match.group("url"))
        else:
            continue
    return return_images

In [ ]:
hand_images['images'] = hand_images.apply(lambda x: correct_images(x['images']),axis=1)

pd.concat([full_data,hand_images]).reset_index().drop(['index'],axis=1).to_csv('images_final.csv',index=False)

## Inserting into Database:

In [7]:
import pymysql
mydb = pymysql.connect(
  host="localhost",
  user="root",
  passwd="root",
  database="services"
)

In [ ]:
cursor = mydb.cursor()
sql = "INSERT INTO animals_states(SPART_ID, States) VALUES (%s, %s)"
cursor.executemany(sql, tuples)
mydb.commit()

In [9]:
animals = new_df[['SPART_ID', 'geometry']]

In [10]:
animals['geometry'] = animals['geometry'].astype(str)

In [5]:
data = services
subset = data[['SPART_ID', 'geometry']]
tuples = [tuple(x) for x in subset.to_numpy()]

In [29]:
states.to_csv("animal_states.csv")

In [ ]:
cursor.close
mydb.close

# extinct Animals

In [3]:
import requests
web_url = requests.get('https://en.wikipedia.org/wiki/List_of_extinct_animals_of_Australia').text
from bs4 import BeautifulSoup 
soup= BeautifulSoup(web_url, "lxml")

In [101]:
right_table=soup.find_all('table', class_='wikitable sortable')[6]
A=[]
B=[]
C=[]
D=[]

for row in right_table.findAll('tr'):
    cells=row.findAll('td')
    if len(cells)==5:
        A.append(cells[0].find(text=True))
        B.append(cells[1].find(text=True))
        C.append(cells[2].find(text=True))
        D.append(cells[3].find(text=True))

import pandas as pd
df = pd.DataFrame(A,columns=['Scientific Name'])
df['Common Name']=B
df['Locations']=C
df['Comments']=D

In [102]:
main_df = main_df.append(df, ignore_index = True)

In [108]:
extinct = main_df

In [109]:
extinct['Comments'] = extinct['Comments'].str.extract('(\d+)', expand=False)
extinct

,Scientific Name,Common Name,Locations,Comments
0,Aplonis fusca,Tasman starling,"Norfolk Island and Lord Howe Island, NSW",1923
1,Columba vitiensis godmanae,"White-throated pigeon (Lord Howe Island), Lord...",Lord Howe Island,1853
2,Cyanoramphus novaezelandiae subflavescens,"Red-crowned parakeet (Lord Howe Island), Lord ...",Lord Howe Island,1869
3,Dasyornis broadbenti litoralis,"Rufous bristlebird (western), southwestern ruf...",WA,NaN
4,Dromaius novaehollandiae minor,"King Island emu, dwarf emu",King Island,1822
5,Dromaius novaehollandiae baudinianus,"Kangaroo Island emu, black emu",Kangaroo Island,1827
6,Dromaius novaehollandiae diemenensis,Tasmanian emu,Tasmania,1850
7,Drymodes superciliaris colcloughi,Roper River scrub-robin,NT,1910
8,Gallicolumba norfolciensis,Norfolk ground dove,Norfolk Island,1850
9,Gerygone insularis,"Lord Howe gerygone, Lord Howe warbler",Lord Howe Island,1928
10,Hemiphaga novaeseelandiae spadicea,New Zealand pigeon (Norfolk Island race),Norfolk Island,NaN
11,Lalage leucopyga leucopyga,Norfolk Island long-tailed triller,Norfolk Island,NaN
12,Nestor productus,Norfolk Island kaka,Norfolk Island,1851
13,Ninox novaeseelandiae albaria,"Southern boobook (Lord Howe Island), Lord Howe...",Lord Howe Island,1950
14,Ninox novaeseelandiae undulata,"Southern boobook (Norfolk Island),",Norfolk Island,1996
15,Porphyrio albus,White gallinule,Lord Howe Island,NaN
16,Psephotus pulcherrimus,Paradise parrot,"NSW, Qld",1927
17,Rallus pectoralis clelandi,Lewin's water rail (western),WA,1932
18,Gallirallus philippensis macquariensis,Macquarie Island rail,Macquarie Island,NaN
19,Rhipidura cervina,Lord Howe fantail,Lord Howe Island,1924
20,Turdus poliocephalus poliocephalus,"Norfolk Island thrush, grey-headed blackbird",Norfolk Island,NaN
21,Turdus poliocephalus vinitinctus,Lord Howe Island thrush,Lord Howe Island,1924
22,Zosterops albogularis,"White-chested white-eye, Norfolk Island silver...",Norfolk Island,20
23,Zosterops strenuus,Robust white-eye,Lord Howe Island,1923
24,Rheobatrachus silus,Gastric-brooding frog,Qld,1981
25,Rheobatrachus vitellinus,Eungella gastric-brooding frog,Qld,1985
26,Taudactylus acutirostris,"Sharp-snouted day frog, sharp-snouted torrent ...",Qld,1997
27,Taudactylus diurnus,"Southern day frog, 1987 Mt. Glorious torrent f...",Qld,1979
28,Emoia nativitatis,Christmas Island forest skink,Christmas Island,31
29,Tympanocryptis pinguicolla,Victorian grassland earless dragon,VIC,1969
...,...,...,...,...
36,Lagorchestes hirsutus hirsutus,Rufous hare-wallaby (southwest mainland),"NT, SA, WA",NaN
37,Lagorchestes leporides,Eastern hare-wallaby,"NSW, Qld, SA, VIC",1890
38,Lagostrophus fasciatus albipilis,Banded hare-wallaby (mainland),WA,NaN
39,Macropus eugenii eugenii,Tammar wallaby (South Australia),SA,NaN
40,Macropus greyi,Toolache wallaby,"SA, VIC",1932
41,Macrotis leucura,Lesser bilby,"NT, Qld, SA",1931
42,Melomys rubicola,Bramble Cay melomys,"Bramble Cay, QLD",2016
43,Notomys longicaudatus,Long-tailed hopping-mouse,"NT, SA, WA",1901
44,Notomys macrotis,Big-eared hopping-mouse,WA,1843
45,Notomys mordax,Darling Downs hopping-mouse,"NSW, Qld",1846
46,Onychogalea lunata,Crescent nailtail wallaby,"SA, WA",1956
47,Perameles bougainville fasciata,Western barred bandicoot (mainland),"NSW, VIC",NaN
48,Pipistrellus murrayi,Christmas Island pipistrelle,Christmas Island,2009
49,Potorous platyops,Broad-faced potoroo,WA,1865
50,Pseudomys glaucus,Blue-grey mouse,"NSW, Qld",1956
51,Pseudomys gouldii,Gould's mouse,"NSW, Qld, SA, VIC, WA",1857
52,Pteropus brunneus,Dusky flying fox,Qld,1800
53,Rattus macleari,Maclear's rat,Christmas Island,1908
54,Rattus nativitatis,Bulldog rat,Christmas Island,1903
55,Thylacinus cynocephalus,Thylacine,Tasmania,1936
56,Crocidura trichura,Christmas Island shrew,Christmas Island,1985
57,Leporillus apicalis,Lesser stick-nest rat,"NSW, NT, SA, VIC, WA",1933
58,Pipistrellus murrayi,Christmas Island pipistrelle,Christmas Island,2009
59,Hypolimnus pedderensis,Lake Pedder earthworm,Tas,1972
60,Advena campbelli,Campbell's land snail,Norfolk Island,NaN
61,Nancibella quintalia,Norfolk snail,Norfolk Island,NaN
62,Tornelasmias capricorni,Lord Howe snail,,37
63,Angrobia dulvertonensis,Macqaurie slug,,1996
64,Placostylus bivaricosus etheridgei,Lord Howe slug,,39
65,Megalania prisca,Australian giant goanna,Australia,30

In [110]:
extinct.to_csv("Extinct.csv")

### Working on Suburb Extraction

In [236]:
shape_file = gpd.read_file("snes_public_grids_08Aug2019_shapefile/snes_species_combined.shp")
species_file = shape_file[shape_file['tax_group'] != "flora"]

In [260]:
species_file["regions"] = species_file["regions"].str.strip('[]').str.split(';')

C:\Users\V.PAVAN\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [261]:
species_file.replace(to_replace=[None], value=[''], inplace=True)

In [335]:
df = species_file[['VIC' in x for x in species_file["regions"]]]

In [336]:
df = df.reset_index(drop=True)

In [266]:
new_df = gpd.GeoDataFrame(df,geometry = "geometry")
new_df.crs = {'init':'epsg:4326'}

In [267]:
outdf = gpd.GeoDataFrame(columns=new_df.columns)
for idx,row in new_df.iterrows():
    #print(row)
    if type(row.geometry) == MultiPolygon:
        multdf = gpd.GeoDataFrame(columns = new_df.columns)
        recs = len(row.geometry)
        multdf = multdf.append([row]*recs,ignore_index=True)
        for geom in range(recs):
            multdf.loc[geom,'geometry'] = row.geometry[geom]
        outdf = outdf.append(multdf,ignore_index=True)
    if type(row.geometry) == Polygon:
        outdf = outdf.append(row,ignore_index=True)

In [268]:
new_df=gpd.GeoDataFrame(outdf,geometry='geometry')#adding the point objects as a column to the dataframe.
new_df.crs={'init' :'epsg:4326'}

In [270]:
suburb = gpd.read_file("vic_locality_polygon_shp/VIC_LOCALITY_POLYGON_shp.shp")
nsw = gpd.read_file("nsw_locality_polygon_shp/NSW_LOCALITY_POLYGON_shp.shp")
sa = gpd.read_file("SA_LOCALITY_POLYGON_shp/SA_LOCALITY_POLYGON_shp.shp") 
wa = gpd.read_file("WA_LOCALITY_POLYGON_shp/WA_LOCALITY_POLYGON_shp.shp")

In [271]:
all_data = pd.concat([suburb,nsw,sa,wa])

In [272]:
 #Getting only the suburb name and the geometry of from the dataframe.
sdf = gpd.GeoDataFrame(all_data)
sdf1=sdf[['VIC_LOCA_2','geometry']]
sdf1.set_geometry('geometry')
sdf1.crs={'init' :'epsg:4326'}#Setting up the coordinate refernce system.
sdf1.head()#sdf1 is the suburb with shape files.


df_suburb=gpd.sjoin(new_df,sdf1,how='left',op='within')
df=pd.DataFrame(df_suburb)#Converting the geodataframe to the pandas dataframe for further manipulations
df=df.drop(['index_right'],axis=1)
df.rename(columns={'VIC_LOCA_2':'suburb'},inplace=True)#renaming the columns
df.head()

,OBJECTID,Shape_Leng,Shape_Area,listed_id,map_id,sci_name,comm_name,threatened,migratory,pres_rank,...,tax_class,tax_phylum,tax_king,other_ids,cell_size,regions,attributio,sprat_prof,geometry,suburb
0,84,8.06,0.6568,77,77,Pseudomys shortridgei,"Heath Mouse, Dayang, Heath Rat",Endangered,,2,...,Mammalia,Chordata,Animalia,,0.01,"[VIC, WA, SA]",Species 1km Grids August 2019 Canberra: Depart...,http://www.environment.gov.au/cgi-bin/sprat/pu...,POLYGON ((141.1599999990001 -37.38999999999993...,NaN
1,84,8.06,0.6568,77,77,Pseudomys shortridgei,"Heath Mouse, Dayang, Heath Rat",Endangered,,2,...,Mammalia,Chordata,Animalia,,0.01,"[VIC, WA, SA]",Species 1km Grids August 2019 Canberra: Depart...,http://www.environment.gov.au/cgi-bin/sprat/pu...,"POLYGON ((142.48 -36.99999999999994, 142.48 -3...",NaN
2,84,8.06,0.6568,77,77,Pseudomys shortridgei,"Heath Mouse, Dayang, Heath Rat",Endangered,,2,...,Mammalia,Chordata,Animalia,,0.01,"[VIC, WA, SA]",Species 1km Grids August 2019 Canberra: Depart...,http://www.environment.gov.au/cgi-bin/sprat/pu...,POLYGON ((119.0199999990001 -34.01999999999998...,JERRAMUNGUP
3,84,8.06,0.6568,77,77,Pseudomys shortridgei,"Heath Mouse, Dayang, Heath Rat",Endangered,,2,...,Mammalia,Chordata,Animalia,,0.01,"[VIC, WA, SA]",Species 1km Grids August 2019 Canberra: Depart...,http://www.environment.gov.au/cgi-bin/sprat/pu...,POLYGON ((119.0300000000001 -33.46999999999997...,PINGRUP
4,85,24.22,1.6653,77,77,Pseudomys shortridgei,"Heath Mouse, Dayang, Heath Rat",Endangered,,1,...,Mammalia,Chordata,Animalia,,0.01,"[VIC, WA, SA]",Species 1km Grids August 2019 Canberra: Depart...,http://www.environment.gov.au/cgi-bin/sprat/pu...,"POLYGON ((141.35 -38.26999999899994, 141.37000...",NaN

##### finding the centroid

In [343]:
points = df.copy()
points['geometry'] = points['geometry'].centroid

,OBJECTID,Shape_Leng,Shape_Area,listed_id,map_id,sci_name,comm_name,threatened,migratory,pres_rank,...,tax_order,tax_class,tax_phylum,tax_king,other_ids,cell_size,regions,attributio,sprat_prof,geometry
0,84,8.06,0.6568,77,77,Pseudomys shortridgei,"Heath Mouse, Dayang, Heath Rat",Endangered,,2,...,Rodentia,Mammalia,Chordata,Animalia,,0.01,"[VIC, WA, SA]",Species 1km Grids August 2019 Canberra: Depart...,http://www.environment.gov.au/cgi-bin/sprat/pu...,POINT (140.9107825826219 -37.54937271606278)
1,85,24.22,1.6653,77,77,Pseudomys shortridgei,"Heath Mouse, Dayang, Heath Rat",Endangered,,1,...,Rodentia,Mammalia,Chordata,Animalia,,0.01,"[VIC, WA, SA]",Species 1km Grids August 2019 Canberra: Depart...,http://www.environment.gov.au/cgi-bin/sprat/pu...,POINT (129.1565985090417 -35.36826727882261)
2,431,2.60,0.3000,25289,25289,Thaumatoperla alpina,Alpine Stonefly,Endangered,,2,...,Plecoptera,Insecta,Arthropoda,Animalia,,0.1,[VIC],Species 10km Grids August 2019 Canberra: Depar...,http://www.environment.gov.au/cgi-bin/sprat/pu...,POINT (147.3033333333334 -36.72333333333331)
3,432,5.40,0.3300,25289,25289,Thaumatoperla alpina,Alpine Stonefly,Endangered,,1,...,Plecoptera,Insecta,Arthropoda,Animalia,,0.1,[VIC],Species 10km Grids August 2019 Canberra: Depar...,http://www.environment.gov.au/cgi-bin/sprat/pu...,POINT (147.1439393939395 -36.46212121212113)
4,856,1.56,0.0208,66766,66766,Paralucia pyrodiscus lucida,Eltham Copper Butterfly,Endangered,,2,...,Lepidoptera,Insecta,Arthropoda,Animalia,,0.01,[VIC],Species 1km Grids August 2019 Canberra: Depart...,http://www.environment.gov.au/cgi-bin/sprat/pu...,POINT (143.9773076953671 -37.18697115600519)

#### Performing the Reverse geocoding:

Google API KEY used to extract the data : AIzaSyAzsZva50PycL1if5lWk_SBXywMro2iIr0

In [382]:
address = []
count = 1
for i in range(len(points['geometry'])):
    add = []
    lon = points['geometry'][i].x
    lat = points['geometry'][i].y
    gmaps = googlemaps.Client(key='AIzaSyAzsZva50PycL1if5lWk_SBXywMro2iIr0')
    print(lat,lon)
    reverse_geocode_result = gmaps.reverse_geocode((lat,lon))
    print(count)
    if(len(reverse_geocode_result) > 0):
        for j in range(len(reverse_geocode_result[0]['address_components'])):
            d = reverse_geocode_result[0]['address_components'][j]
            add.append(d['short_name'])
    address.append(add)
    count = count + 1

-37.549372716062784 140.91078258262186
1
-35.36826727882261 129.1565985090417
2
-36.72333333333331 147.30333333333337
3
-36.46212121212113 147.14393939393946
4
-37.186971156005185 143.9773076953671
5
-36.982988903371265 143.57214285503326
6
-37.17051282051279 141.1290598290599
7
-36.913736263736205 141.0708791208792
8
-37.33425156002079 146.02566527952695
9
-37.41477777786813 145.44222222507463
10
-37.72431818023398 144.0609090982915
11
-37.74743902438426 142.01646341483794
12
-37.96996799264994 143.25282807479752
13
-37.99241662905463 143.13984215177013
14
-37.64585798816564 141.79378698224858
15
-37.83653846153842 141.7711538461539
16
-37.72544398537327 145.93120547230947
17
-37.69337354404721 145.91346921757813
18
-37.94999999999997 141.35000000000008
19
-37.88333333333326 141.38333333333333
20
-37.92939393945812 145.66333333281315
21
-37.934285714070704 145.6349999990461
22
-37.83749999999994 146.26250000000005
23
-37.89999999999995 146.4500000000001
24
-37.6506751427424 141.64225845007826
25
-37.18906670445339 141.84323384493763
26
-37.85851017670191 142.50791958593834
27
-35.531140350876385 138.91640350907127
28
-37.610242797480865 141.40513991693547
29
-37.63933753983904 141.5568611982289
30
-38.258205796517025 143.0787014967013
31
-37.759520117493395 142.62321640823433
32
-38.29798408479109 145.82198275841196
33
-38.331296296929494 145.79537037517548
34

In [385]:
points["area"] = address

In [389]:
points.columns

Index(['OBJECTID', 'Shape_Leng', 'Shape_Area', 'listed_id', 'map_id',
       'sci_name', 'comm_name', 'threatened', 'migratory', 'pres_rank',
       'category', 'extracted', 'tax_group', 'tax_family', 'tax_order',
       'tax_class', 'tax_phylum', 'tax_king', 'other_ids', 'cell_size',
       'regions', 'attributio', 'sprat_prof', 'geometry', 'area'],
      dtype='object')

In [390]:
suburb_addr = points[['listed_id','sci_name', 'comm_name','area']]

In [393]:
suburb_addr['areas'] = [','.join(map(str, l)) for l in suburb_addr['area']]

C:\Users\V.PAVAN\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [394]:
suburb_addr

,listed_id,sci_name,comm_name,area,areas
0,77,Pseudomys shortridgei,"Heath Mouse, Dayang, Heath Rat","[Unnamed Road, Nangwarry, Wattle Range, SA, AU...","Unnamed Road,Nangwarry,Wattle Range,SA,AU,5277"
1,77,Pseudomys shortridgei,"Heath Mouse, Dayang, Heath Rat",[],
2,25289,Thaumatoperla alpina,Alpine Stonefly,"[The Staircase, Nelse, VIC, AU, 3699]","The Staircase,Nelse,VIC,AU,3699"
3,25289,Thaumatoperla alpina,Alpine Stonefly,"[Steele Track, Eskdale, Towong, VIC, AU, 3701]","Steele Track,Eskdale,Towong,VIC,AU,3701"
4,66766,Paralucia pyrodiscus lucida,Eltham Copper Butterfly,"[167, Mezzinas Rd, Strathlea, Mount Alexander,...","167,Mezzinas Rd,Strathlea,Mount Alexander,VIC,..."
5,66766,Paralucia pyrodiscus lucida,Eltham Copper Butterfly,"[C275, Rathscar, Pyrenees, VIC, AU, 3465]","C275,Rathscar,Pyrenees,VIC,AU,3465"
6,25982,Calyptorhynchus banksii graptogyne,South-eastern Red-tailed Black-Cockatoo,"[Poolaigelo Ln, Poolaijelo, West Wimmera, VIC,...","Poolaigelo Ln,Poolaijelo,West Wimmera,VIC,AU,3312"
7,25982,Calyptorhynchus banksii graptogyne,South-eastern Red-tailed Black-Cockatoo,"[Unnamed Road, Apsley, West Wimmera, VIC, AU, ...","Unnamed Road,Apsley,West Wimmera,VIC,AU,3319"
8,26168,Galaxias fuscus,Barred Galaxias,"[Taylors Creek Track, Eildon, Murrindindi, VIC...","Taylors Creek Track,Eildon,Murrindindi,VIC,AU,..."
9,26168,Galaxias fuscus,Barred Galaxias,"[8, Burns Rd, Glenburn, Murrindindi, VIC, AU, ...","8,Burns Rd,Glenburn,Murrindindi,VIC,AU,3717"
10,88020,Perameles gunnii Victorian subspecies,Eastern Barred Bandicoot (Mainland),"[McAllisters Ln, Mount Doran, Moorabool, VIC, ...","McAllisters Ln,Mount Doran,Moorabool,VIC,AU,3334"
11,88020,Perameles gunnii Victorian subspecies,Eastern Barred Bandicoot (Mainland),"[29, Carmichael St, Hamilton, Southern Grampia...","29,Carmichael St,Hamilton,Southern Grampians,V..."
12,64487,Eulamprus tympanum marnieae,"Corangamite Water Skink, Dreeite Water Skink","[Harveys N Ln, Derrinallum, Corangamite, VIC, ...","Harveys N Ln,Derrinallum,Corangamite,VIC,AU,3325"
13,64487,Eulamprus tympanum marnieae,"Corangamite Water Skink, Dreeite Water Skink","[Unnamed Road, Derrinallum, Corangamite, VIC, ...","Unnamed Road,Derrinallum,Corangamite,VIC,AU,3325"
14,81552,Euastacus bispinosus,"Glenelg Spiny Freshwater Crayfish, Pricklyback","[Six Mile Ln, Tarrenlea, Southern Grampians, V...","Six Mile Ln,Tarrenlea,Southern Grampians,VIC,A..."
15,81552,Euastacus bispinosus,"Glenelg Spiny Freshwater Crayfish, Pricklyback","[Unnamed Road, Branxholme, Southern Grampians,...","Unnamed Road,Branxholme,Southern Grampians,VIC..."
16,273,Gymnobelideus leadbeateri,Leadbeater's Possum,"[Boundary Track, Reefton, Yarra Ranges, VIC, A...","Boundary Track,Reefton,Yarra Ranges,VIC,AU,3799"
17,273,Gymnobelideus leadbeateri,Leadbeater's Possum,"[Unnamed Road, Reefton, Yarra Ranges, VIC, AU,...","Unnamed Road,Reefton,Yarra Ranges,VIC,AU,3799"
18,82953,Hyridella glenelgensis,Glenelg Freshwater Mussel,"[43, Balds Rd, Greenwald, Glenelg, VIC, AU, 3304]","43,Balds Rd,Greenwald,Glenelg,VIC,AU,3304"
19,82953,Hyridella glenelgensis,Glenelg Freshwater Mussel,"[Unnamed Road, Winnap, Glenelg, VIC, AU, 3304]","Unnamed Road,Winnap,Glenelg,VIC,AU,3304"
20,26011,Lichenostomus melanops cassidix,"Helmeted Honeyeater, Yellow-tufted Honeyeater ...","[Leech Rd, Gembrook, Cardinia, VIC, AU, 3783]","Leech Rd,Gembrook,Cardinia,VIC,AU,3783"
21,26011,Lichenostomus melanops cassidix,"Helmeted Honeyeater, Yellow-tufted Honeyeater ...","[Back Creek Rd, Gembrook, Cardinia, VIC, AU, 3...","Back Creek Rd,Gembrook,Cardinia,VIC,AU,3783"
22,1934,Philoria frosti,Baw Baw Frog,"[24, Tingaringy Cres, Baw Baw Village, Mount B...","24,Tingaringy Cres,Baw Baw Village,Mount Baw B..."
23,1934,Philoria frosti,Baw Baw Frog,"[Walhalla Rd, Walhalla, Baw Baw, VIC, AU, 3825]","Walhalla Rd,Walhalla,Baw Baw,VIC,AU,3825"
24,87645,Miniopterus orianae bassanii,Southern Bent-wing Bat,"[16, Dalton Ln, Hilgay, Southern Grampians, VI...","16,Dalton Ln,Hilgay,Southern Grampians,VIC,AU,..."
25,87645,Miniopterus orianae bassanii,Southern Bent-wing Bat,"[C214, Balmoral, Southern Grampians, VIC, AU, ...","C214,Balmoral,Southern Grampians,VIC,AU,3407"
26,26177,Nannoperca obscura,Yarra Pygmy Perch,"[Unnamed Road, Nareeb, Moyne, VIC, AU, 3293]","Unnamed Road,Nareeb,Moyne,VIC,AU,3293"
27,26177,Nannoperca obscura,Yarra Pygmy Perch,"[Denver Rd, Hindmarsh Island, Alexandrina, SA,...","Denver Rd,Hindmarsh Island,Alexandrina,SA,AU,5214"
28,26178,Nannoperca variegata,"Variegated Pygmy Perch, Ewens Pygmy Perch, Gol...","[Gilmores Rd, Casterton, Glenelg, VIC, AU, 3311]","Gilmores Rd,Casterton,Glenelg,VIC,AU,3311"
29,26178,Nannoperca variegata,"Variegated Pygmy Perch, Ewens Pygmy Perch, Gol...","[Boggy Creek Rd, Henty, Glenelg, VIC, AU, 3315]","Boggy Creek Rd,Henty,Glenelg,VIC,AU,3315"
30,83086,Antechinus minimus maritimus,Swamp Antechinus (mainland),"[Cross Forest Rd, Camperdown, Corangamite, VIC...","Cross Forest Rd,Camperdown,Corangamite,VIC,AU,..."
31,83086,Antechinus minimus maritimus,Swamp Antechinus (mainland),"[1577, Astons Rd, Narrapumelap South, Ararat, ...","1577,Astons Rd,Narrapumelap South,Ararat,VIC,A..."
32,64420,Megascolides australis,Giant Gippsland Earthworm,"[132, Olsens Rd, Poowong East, South Gippsland...","132,Olsens Rd,Poowong East,South Gippsland,VIC..."
33,64420,Megascolides australis,Giant Gippsland Earthworm,"[250, Houlahans Ln, Poowong, South Gippsland, ...","250,Houlahans Ln,Poowong,South Gippsland,VIC,A..."

In [395]:
suburb_addr.to_csv("suburb_vic.csv")